@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: black;
}

h2 {
  @apply text-xl md:text-4xl
}

p {
  @apply text-xl tracking-tight leading-relaxed

}

span {
  @apply text-purple-950
}

.shiny_efect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, rgba (178,18,202,0.2), tranparent);

}